<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen">
      h3 { color: #f00; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <div>
      <h2 id = "banner">Your account password reset link is below</h2>
    </div>

<%= edit_password_reset_url(@user.password_reset_token) %>

   
  </body>
</html>
