<h1>Welcome</h1>
<% unless logged_in? %>
<h2><%= link_to "Sign up", signup_path %></h2>
<p>If this is your first time entering data, you'll have to sign up and create a username.  When signing up, you'll be able to select which lake(s) you're monitoring. Once we confirm that you are one of our trained volunteers, we'll send you an email to let you know your account has been confirmed.</td>
<p/>

<h2><%= link_to "Log in", login_path %></h2>
<p>Log-in to enter your monitoring data.</p>
<% end %>


<h2>Help</h2>
<p>If you have trouble with the website (signing up, logging in, or entering data), please send an email to bsetves@pdx.edu.
