<h1>Home Page</h1>

<p>Welcome to the OLW volunteer data entry site.  Thanks for your patience as we worked out the kinks in this system!</p>

<p>Log in to upload up your  water quality and/or AIS monitoring data.  If this is your first time entering data, you’ll have to sign up and create a username and ID.  When signing up, you’ll be able to select which lake(s) you’re monitoring.   Once confirm that you are one of our trained volunteers, we’ll send you an email to let you know your account has been confirmed.   Then, just log-in and follow the instructions to add your lake sites and get your data entered.</p>

<p>If you have trouble with the website (signing up, logging in or entering data), please send an email bsteves@pdx.edu</p>
